@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset-cyrillic-ext);
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica Neue Medium Extended.woff2") format("woff2"), url("../fonts/Helvetica Neue Medium Extended.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica Neue W01 66 Medium It.woff2") format("woff2"), url("../fonts/Helvetica Neue W01 66 Medium It.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica Neue W01 87 Hv Cn Obl..woff2") format("woff2"), url("../fonts/Helvetica Neue W01 87 Hv Cn Obl..woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff2") format("woff2"), url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff2") format("woff2"), url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Helvetica;
  background: url("../img/placeholder.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #1A1A1A;
  color: #fff;
}

[class*=__container] {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.header__container {
  height: 90px;
  display: flex;
  align-items: center;
}
.header__logo {
  padding-left: 34px;
  position: relative;
}
.header__logo::before {
  content: url("../img/Logo.png");
  position: absolute;
  top: -10px;
  left: 0;
}
.header__menu {
  margin-left: auto;
  padding-right: 10px;
}
@media (max-width: 632px) {
  .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 300ms ease-in-out;
    opacity: 0;
  }
  .menu-open .header__menu {
    top: 0;
    opacity: 1;
    align-items: center;
  }
}
.header__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
@media (max-width: 632px) {
  .header__list {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
    row-gap: 20px;
  }
}
.header__link {
  font-weight: 700;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.header__link:hover {
  color: #34C759;
}
@media (max-width: 632px) {
  .header__link {
    font-size: 25px;
  }
}

.icon-menu {
  display: none;
  background-color: transparent;
  margin-left: auto;
}
@media (max-width: 632px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 300ms ease-in-out;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

.page__promo {
  padding-top: 80px;
}

.promo__container {
  max-width: 1100px;
}
.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.promo__title {
  margin-bottom: 16px;
  font-size: 72px;
  color: #fff;
  font-weight: 200;
  text-transform: capitalize;
  line-height: 116.6666666667%;
  letter-spacing: 0.1;
  text-align: center;
}
.promo__title span {
  font-weight: 400;
  font-size: inherit;
}
.promo__text {
  color: #fff;
  font-size: 16px;
  opacity: 0.7;
  line-height: 162%;
  letter-spacing: -0.2px;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.promo__btn {
  font-size: 18px;
  line-height: 122.2222222222%;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding: 25px 58px;
  border: 1px solid #34C759;
  border-radius: 43px;
  background: #34C759;
  transition: all 300ms ease-in-out;
  color: #000;
}
.promo__btn:hover {
  background: #31ba54;
}
.promo__btn:active {
  background: #2dac4d;
}
.promo__items {
  display: flex;
  justify-content: space-around;
}
.item-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-promo__img {
  margin-bottom: 13px;
}
.item-promo__title {
  font-size: 16px;
  line-height: 188%;
}
.item-promo__text {
  font-size: 14px;
  opacity: 0.5;
}