body{
    font-family: $fontFamily;
    background: url("../img/placeholder.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #1A1A1A;
    color: #fff;
}
[class*="__container"]{
    max-width: $containerWidth + $mainOffset*2;
    padding: 0 $mainOffset;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
