
@font-face {
    font-family: Helvetica;
    font-display: swap;
    src: url("../fonts/Helvetica Neue Medium Extended.woff2") format("woff2"), url("../fonts/Helvetica Neue Medium Extended.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Helvetica;
    font-display: swap;
    src: url("../fonts/Helvetica Neue W01 66 Medium It.woff2") format("woff2"), url("../fonts/Helvetica Neue W01 66 Medium It.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Helvetica;
    font-display: swap;
    src: url("../fonts/Helvetica Neue W01 87 Hv Cn Obl..woff2") format("woff2"), url("../fonts/Helvetica Neue W01 87 Hv Cn Obl..woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    font-display: swap;
    src: url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff2") format("woff2"), url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Helvetica;
    font-display: swap;
    src: url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff2") format("woff2"), url("../fonts/Helvetica Neue NeueLTW0693BlkExtObl.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}




